.additional-goods {
  border-top: 1px solid @special-grey-2;
  overflow-x: hidden;

  @media (min-width: @tablet) {
    border: none;
  }
}

.additional-goods__container {
  flex-grow: 1;
}

.additional-goods__wrapper {
  @media (min-width: @desktop) {
    display: flex;
    gap: 79px;
    margin-bottom: 86px;
  }
}

.additional-goods__item {
  padding: 13px 0 19px;
}

.additional-goods__title {
  line-height: 24px;
  padding: 25px 21px 36px 0;
  position: relative;
  display: inline-block;

  @media (min-width: @tablet) {
    line-height: 36px;
    padding: 68px 36px 80px;
    margin-left: 37px;
  }

  @media (min-width: @desktop) {
    margin: 0;
  }
}

.additional-goods__list {
  .list-reset;
}
