
.additionally__text {
  line-height: 16px;
  color: @black;
  text-align: center;


  @media (min-width: @tablet) {
    text-align: left;
    align-self: center;
    font-size: 16px;
  }

  @media (min-width: @desktop) {
    padding-left: 3px;
  }
}

.additionally__link {
  @media (min-width: @tablet) {
    padding: 26px 0;
    font-size: 20px;
    line-height: 0px;
  }
}

.additionally__list {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 25px;

  .input {
    width: auto;
  }

  .program-selection-form__item {
    column-gap: 16px;
    color: @black;

    @media (min-width: @desktop) {
      column-gap: 20px;
    }
  }

  @media (min-width: @tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 64px;
    row-gap: 43px;
    margin-top: 62px;
  }

  @media (min-width: @desktop) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 82px;
    margin-top: 66px;
  }
}

.additionally_link-text-wrapper {
  margin-top: 38px;
  display: flex;
  flex-direction: column;
  gap: 21px;

  @media (min-width: @tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 64px;
    margin-top: 58px;
  }

  @media (min-width: @desktop) {
    gap: 80px;
    margin-top: 63px;
  }
}

.additionally__title {
  width: 164px;

  @media (min-width: @tablet) {
    width: 291px;
    padding-left: 39px;
    left: -39px;
  }

  &::after {
    @media (max-width: @only-mobile) {
      top: 61%;
    }
  }
}
