.additional-goods {
  @media (min-width: @desktop) {
    display: flex;
    flex-wrap: wrap;
    gap: 79px;
  }
}

.additional-goods__container {
  @media (min-width: @desktop) {
    margin: 0;
    width: 896px;
  }
}

.additional-goods__title {
  line-height: 24px;
  padding: 25px 0 36px;
}

.additional-goods__list {
  .list-reset;
}
