.button {
  font-family: @oswald;
  text-transform: uppercase;
  border: none;

  &--primary {
    font-size: 20px;
    line-height: 0px;
    background-color: @green;
    color: @white;
    padding: 14px 26px;

    &:hover {
      background-color: @green-hover;
    }

    &:active {
      background-color: @green-hover;
      color: fade(@white, 30);
    }
  }

  &--wide {
    font-size: 16px;
    line-height: 20px;
    display: block;
    text-align: center;
    padding: 10px 0;
  }

  &--tertiary {
    background: @grey;
    color: @base-text-color;

    &:hover,
    &:active {
      background-color: @special-grey-2;
    }

    &:active {
      color: fade(@base-text-color, 30);
    }
  }
}
