.catalog-list {
  .list-reset;
  display: flex;
  flex-direction: column;
  gap: 19px;

  @media (min-width: @tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 60px;
  }
}

.catalog-list__list {
  .list-reset;
}

.catalog-list__item {
  font-size: 12px;
  line-height: 16px;

  @media (min-width: @tablet) {
    width: 324px;
  }

  @media (min-width: @desktop) {
    width: 245px;
  }
}

.catalog-list__subtitle {
  font-family: @oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
}

.catalog-list__text {
  text-align: center;
  margin: 0;
}

.catalog-list-image-link__image {
  min-height: 100px;
}
