.contacts {
  @media (min-width: @tablet) and (max-width: @desktop - 1px) {
    .container {
      width: calc(100% - 140px);
    }
  }

  @media (min-width: @desktop) {
    display: grid;
    grid-template-areas: "map";
    position: relative;
  }

  &--catalog {
    background-color: @grey;

    @media (min-width: @desktop) {
      background-color: inherit;
    }
  }
}

.contacts__wrapper {
  padding: 26px 0;
  display: flex;
  justify-content: space-between;

  @media (min-width: @tablet) {
    padding: 56px 0;
  }

  @media (min-width: @desktop) {
    grid-area: map;
    z-index: 1;
    background-color: @white;
    width: 565px;
    margin: 0;
    padding: 56px 60px 56px 80px;
    position: absolute;
    margin-top: 95px;
    margin-left: 110px;
  }
}

.contacts__map {
  @media (min-width: @desktop) {
    grid-area: map;
  }
}
