.container {
  width: calc(100% - 40px); // 280px
  margin: 0 auto;

  @media (min-width: @tablet) {
    width: calc(100% - 60px);
  }

  @media (min-width: @desktop) {
    width: calc(100% - 203px);
  }

  &--form {
    @media (min-width: @tablet) {
      width: calc(100% - 220px);
    }
  }
}
