.examples {
  background-color: @color-grey;
}

.examples__wrapper {
  padding: 25px 0 40px;
}

.examples__text {
  font-size: 12px;
  line-height: 12px;

  &--big {
    font-family: "Oswald";
    font-size: 24px;
    line-height: 24px;
    color: @color-black;
  }
}

.examples__summary {
  font-family: "Oswald";
  line-height: 20px;
  text-transform: uppercase;
  color: @color-black;
}

.examples__description.text-normal {
  margin-top: 40px;
}
