.examples {
  background-color: @grey;

  @media (min-width: @tablet) {
    background-color: inherit;
    border-top: 1px solid @light-grey;
    position: relative;
  }

  &::after {
    @media (min-width: @tablet) {
      content: "";
      position: absolute;
      background-color: @very-light-grey;
      width: 100%;
      height: 43%;
      bottom: 0;
      z-index: -2;
    }

    @media (min-width: @desktop) {
      background-color: @grey;
      height: 70%;
    }
  }
}

.examples__wrapper {
  padding: 25px 0 40px;
  display: grid;
  grid-template-areas: "heading heading"
    "text text"
    "blocks blocks"
    "summary summary"
    "slider slider";

  @media (min-width: @tablet) {
    padding: 43px 0 100px;
    grid-template-rows: auto auto 54px auto auto;
    grid-template-columns: auto auto 174px;
    grid-template-areas: "heading heading heading"
      "text text text"
      "space space space"
      "blocks blocks summary"
      "slider slider slider";
  }

  @media (min-width: @desktop) {
    padding: 69px 0 75px;
    grid-template-columns: 218px 218px auto;
    grid-template-rows: auto auto 69px auto 65px auto;
    grid-template-areas: "heading heading slider"
      "text text slider"
      ". . slider"
      "blocks blocks slider"
      ". . slider"
      "summary summary slider";
  }
}

.examples__text {
  font-size: 12px;
  line-height: 12px;
  width: 124px;
  position: relative;
  border: 1px solid @dark-grey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 0;
  margin-top: 20px;

  @media (min-width: @tablet) {
    margin-top: 0;
    width: 162px;
  }

  &--big {
    font-family: @oswald;
    font-size: 24px;
    line-height: 24px;
    color: @black;

    @media (min-width: @tablet) {
      font-size: 30px;
      line-height: 37px;
    }
  }

  &--small {
    position: absolute;
    display: block;
    background-color: @grey;
    width: 77px;
    bottom: -14px;
    text-align: center;

    @media (min-width: @tablet) {
      background-color: @white;
      font-size: 14px;
      line-height: 14px;
      width: auto;
      padding: 0 10px;
      bottom: -6px;
    }

    @media (min-width: @desktop) {
      background-color: @grey;
    }
  }

  &--weight {
    grid-area: weight;
  }

  &--days {
    grid-area: days;
  }
}

.examples__summary {
  text-align: center;
  font-family: @oswald;
  line-height: 20px;
  text-transform: uppercase;
  color: @black;
  grid-area: summary;
  margin-top: 34px;

  @media (min-width: @tablet) {
    margin-top: 0;
    font-size: 20px;
    text-align: end;
  }

  @media (min-width: @desktop) {
    text-align: start;

    .examples__summary-cost {
      margin-left: 63px;
    }
  }
}

.examples__description {
  grid-area: text;
}

.examples__description.text-normal {
  margin-top: 40px;

  @media (min-width: @tablet) {
    margin-top: 63px;
  }

  @media (min-width: @desktop) {
    margin-top: 146px;
  }
}

.examples__title {
  grid-area: heading;
}

.examples__slider {
  grid-area: slider;
  overflow: hidden;
  display: flex;
  position: relative;
  margin-top: 20px;

  @media (min-width: @tablet) {
    justify-self: center;
  }
}

.examples__text-wrapper {
  display: flex;
  column-gap: 32px;
  grid-area: blocks;

  @media (min-width: @tablet) {
    column-gap: 42px;
  }
}

.examples__image {
  position: relative;
  overflow: hidden;
  width: 280px;
  height: 256px;

  @media (min-width: @tablet) {
    width: 560px;
    height: 688px;
  }
}

.slider__image {
  position: absolute;
  top: 50%;
  transform: translate(-50%,-50%);
  min-width: 280px;
  min-height: 256px;
  object-fit: cover;

  @media (min-width: @tablet) {
    min-width: 560px;
    min-height: 512px;
  }

  &--before {
    left: 100%;
  }

  &--after {
    left: 0;
  }
}

.examples__button {
  position: absolute;
  width: 4px;
  height: 257px;
  background-color: #666666;
  border-color: #666666;
  border-radius: 2px;
  left: 50%;

  @media (min-width: @tablet) {
    height: 512px;
    bottom: 0;
  }

  &:hover {
    background-color: @green;
    border-color: @green;

    .examples__button::before {
      border-color: @green;
    }
  }

  &::before {
    position: absolute;
    z-index: 3;
    content: "";
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #666666;
    background-color: #ffffff;
    top: 50%;
    margin-left: -18px;
  }
}
