.gifts {
  @media (min-width: @desktop) {
    width: 245px;
    align-self: flex-end;
  }
}

.gifts__container {
  background-color: @green;
  min-height: 290px;
  background-image: url(../../img/gifts-background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 35px;

  @media (min-width: @desktop) {
    width: 245px;
  }
}

.gifts__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @white;
  margin: 0;
}
