.gifts {
  &:hover .gifts__container {
    filter: brightness(90%);
  }

  @media (min-width: @desktop) {
    width: 245px;
    align-self: flex-end;
  }
}

.gifts__container {
  background-color: @green;
  min-height: 290px;
  /* stylelint-disable */
  background-color: @green;
  /* stylelint-enable */
  background-image: url("../../img/gifts-background.jpg");
  background-repeat-y: no-repeat;
  background-position: center;
  background-size: 100%;
  margin-top: 35px;
  position: relative;
  padding: 187px 61px 43px 48px;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/gifts-background@2x.jpg");
    background-size: 280px auto;
  }

  @media (min-width: @tablet) {
    background-image: url("../../img/gifts-background-tablet.jpg");
    margin-top: 69px;
    margin-bottom: 76px;
    min-height: 200px;
    padding: 71px 124px 69px 422px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/gifts-background-tablet@2x.jpg");
      background-size: 100% auto;
    }
  }

  @media (min-width: @desktop) {
    background-image: url("../../img/gifts-background-desktop.jpg");
    width: 245px;
    min-height: 289px;
    margin: 0;
    padding: 184px 43px 42px 40px;

    @media (min-resolution: 2dppx) {
      background-image: url("../../img/gifts-background-desktop@2x.jpg");
      background-size: 100% auto;
    }
  }
}

.gifts__title {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: @white;
  margin: 0;
  position: relative;
  width: 161px;

  @media (min-width: @tablet) {
    width: 161px;
    text-align: left;
  }

  @media (min-width: @desktop) {
    text-align: center;
  }
}

.gifts__title::before {
  content: "";
  width: 78px;
  height: 80px;
  position: absolute;
  background-image: url("../../icons/stack.svg#gifts");
  top: -128px;
  left: 26%;

  @media (min-width: @tablet) {
    width: 80px;
    height: 82px;
    top: -14px;
    left: -265px;
  }

  @media (min-width: @desktop) {
    width: 80px;
    height: 82px;
    top: -108px;
    left: 26%;
  }
}

.gifts__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 48px;

  /* stylelint-disable-next-line selector-type-no-unknown */
  @media (min-width: @tablet) and (max-width: @desktop - 1px) {
    flex-direction: row;
    gap: 265px;
    padding: 0;
  }
}
