.hero {
  @media (min-width: @tablet) {
    min-height: 872px;
  }

  @media (min-width: @desktop) {
    min-height: 667px;
  }
}

.hero__wrapper {
  min-height: 302px;
  background-color: @green;
  background: url("../../img/index-background-hero.jpg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  padding-top: 27px;

  @media (max-width: @tablet - 1px) {
    position: relative;
  }

  @media (min-width: @tablet) {
    background-image: none;
  }

  @media (min-width: @desktop) {
    &::after {
      content: "";
      position: absolute;
      width: 50%;
      height: 74%;
      background-color: @green;
      background-image: url("../../img/index-background-hero.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
      top: 0;
      right: 0;
    }
  }
}

.hero__inner-wrapper {
  @media (min-width: @tablet) {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding-left: 88px;
  }

  @media (min-width: @desktop) {
    margin-right: auto;
    padding-left: 80px;
  }
}

.hero__title {
  text-align: center;

  @media (min-width: @tablet) {
    text-align: start;
    width: 532px;
  }
}

.hero__text {
  margin: 0;
  text-transform: uppercase;
  font-family: @oswald;
  line-height: 14px;
  color: @white;
  text-align: center;
  margin-top: 25px;

  @media (min-width: @tablet) {
    color: @black;
    font-size: 20px;
    line-height: 20px;
    margin-top: 41px;
  }
}

.hero__link {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;

  @media (min-width: @tablet) {
    padding: 14px 26px;
    font-size: 20px;
    line-height: 20px;
    margin-top: 49px;
    margin-bottom: 0;
  }
}

.hero__content-image {
  margin-top: 29px;

  @media (min-width: @tablet) {
    position: absolute;
    width: 609px;
    top: 200px;
    z-index: -1;
  }

  @media (min-width: @desktop) {
    top: -66px;
    left: 459px;
    z-index: 0;
  }
}
