.hero {
  @media (min-width: @tablet) {
    min-height: 856px;
  }

  @media (min-width: @desktop) {
    min-height: 648px;
  }
}

.hero__wrapper {
  min-height: 302px;
  background-color: @green;
  /* stylelint-disable */
  background: url("../../img/index-background-hero.jpg");
  /* stylelint-enable */
  background-size: 320px auto;
  background-repeat-y: no-repeat;
  background-position-x: center;
  padding-top: 27px;

  @media (min-resolution: 2dppx) {
    background-image: url("../../img/index-background-hero@2x.jpg");
    background-size: 320px auto;
    padding-top: 46px;
  }

  @media (max-width: @tablet - 1px) {
    position: relative;
  }

  @media (min-width: @tablet) {
    background-image: none;
  }

  @media (min-width: @desktop) {
    padding-top: 95px;

    &::after {
      content: "";
      position: absolute;
      width: 49.4%;
      height: 72.2%;
      background-color: @green;
      background-image: url("../../img/green-cat-desktop.jpg");
      background-repeat: no-repeat;
      background-size: cover;
      z-index: -1;
      top: 0;
      right: 0;

      @media (min-resolution: 2dppx) {
        background-image: url("../../img/green-cat-desktop@2x.jpg");
      }
    }
  }
}

.hero__inner-wrapper {
  @media (min-width: @tablet) {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    padding-left: 88px;
  }

  @media (min-width: @desktop) {
    margin-right: auto;
    padding-left: 80px;
  }
}

.hero__title {
  text-align: center;

  @media (min-width: @tablet) {
    text-align: start;
    width: 532px;
  }
}

.hero__text {
  margin: 0;
  text-transform: uppercase;
  font-family: @oswald;
  line-height: 14px;
  color: @white;
  text-align: center;
  margin-top: 25px;

  @media (min-width: @tablet) {
    color: @black;
    font-size: 20px;
    line-height: 20px;
    margin-top: 41px;
  }
}

.hero__link {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;

  @media (min-width: @tablet) {
    padding: 18px 29px;
    font-size: 20px;
    line-height: 20px;
    margin-top: 47px;
    margin-bottom: 0;
  }

  @media (min-width: @desktop) {
    margin-top: 50px;
    padding: 17px 28px;
  }
}

.hero__content-image {
  margin-top: 29px;

  @media (min-width: @tablet) {
    position: absolute;
    width: 711px;
    top: 172px;
    z-index: -1;
    left: 0;
  }

  @media (min-width: @desktop) {
    width: 552px;
    height: 499px;
    top: -112px;
    left: 447px;
    z-index: 2;
  }
}
