.how-it-works__wrapper {
  padding: 17px 0 49px;

  @media (min-width: @tablet) {
    padding: 45px 0 47px;
  }

  @media (min-width: @desktop) {
    padding: 79px 0 0;
  }
}

.how-it-works__list.how-it-works-list {
  margin-top: 40px;
  padding-left: 80px;

  @media (min-width: @tablet) {
    padding-left: 0;
    margin-top: 32px;
  }
}

.how-it-works__item {
  position: relative;

  @media (min-width: @tablet) {
    padding: 151px 26px 57px 0;
  }

  &::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    background-color: @green;
    left: -80px;
    background-repeat: no-repeat;
    background-position: center;

    @media (min-width: @tablet) {
      width: 80px;
      height: 80px;
      top: 40px;
      left: 0;
    }
  }

  &--leaf::before {
    background-image: url("../img/icon-leaf.svg");
  }

  &--tub::before {
    background-image: url("../img/icon-tub.svg");
  }

  &--eat::before {
    background-image: url("../img/icon-eat.svg");
  }

  &--alarm::before {
    background-image: url("../img/icon-alarm.svg");
  }

  &::after {
    @media (min-width: @tablet) {
      content: counter(my-counter);
      counter-increment: my-counter;
      font-family: @oswald;
      font-weight: 400;
      font-size: 280px;
      line-height: 280px;
      color: @grey;
      display: block;
      position: absolute;
      z-index: -1;
      top: 0;
      left: 118px;
    }
  }
}

.how-it-works__text {
  @media (max-width: @tablet - 1px) {
    max-width: 253px;
  }
}

.how-it-works__item--tub .how-it-works__text {
  @media (min-width: @tablet) {
    min-width: 219px;
  }
}

.how-it-works__item--alarm .how-it-works__text {
  @media (min-width: @tablet) {
    min-width: 254px;
  }
}

.how-it-works__item--alarm br {
  @media (max-width: @only-mobile) {
    display: none;
  }
}
