.main-header {
  @media (max-width: @tablet - 1px) {
    &--line {
      border-bottom: 1px solid @light-grey;
    }
  }
}

.main-header__container {
  @media (min-width: @tablet) {
    width: 708px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
  }

  @media (min-width: @desktop) {
    width: 1220px;
    min-height: 112px;
    padding: 55px 0 0;
  }
}

.main-header__logo {
  margin-right: 58px;
  margin-top: -8px;

  @media (min-width: @tablet) {
    margin-right: 12px;
    margin-top: -17px;
  }
}

.main-header__logo-2 {
  @media (min-width: @tablet) {
    margin-top: -10px;
  }
}

.main-header__logo-wrapper {
  display: flex;
  align-items: center;
  min-height: 65px;
  transition: 0.2s;

  &:hover {
    opacity: 0.8;
    transition: 0.2s;
  }

  &:active {
    opacity: 0.6;
    transition: 0.2s;
  }
}
