.main-header {

}

.main-header__container {
  padding: 10px 0 17px;
  min-height: 65px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (min-width: @tablet) {
    padding: 0;
  }

  @media (min-width: @desktop) {
    min-height: 112px;
  }
}

.main-header__logo {
  margin-right: 57px;

  @media (min-width: @tablet) {
    margin-right: 12px;
  }
}

.main-header__logo-wrapper{
  display: flex;
  align-items: center;
}
