.main-footer {
  background-color: @grey;
}

.main-footer__wrapper {
  padding: 40px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: @tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.main-footer__logo-2 {
  padding-bottom: 20px;
  border-bottom: 1px solid @grey85;
  width: 281px;
  text-align: center;
}

.main-footer__social {
  padding: 20px 0;
}

.main-footer__logo-wrapper {
  width: 281px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid @grey85;
  padding-top: 20px
}
