.nav-list {
  .list-reset;
}

.nav__link {
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: @color-black;
  text-transform: uppercase;
}
