.nav {

  @media (min-width: @tablet) {
    display: flex;
    align-items: center;
  }
}

.nav__link {
  font-family: @oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  color: @black;
  text-transform: uppercase;

  @media (min-width: @tablet) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }
}

.nav__toggle {

  @media (min-width: @tablet) {
    display: none;
  }
}

.nav__item {
  &:first-child {
    @media (min-width: @tablet) {
      margin-right: 34px;
    }
  }

  &:nth-child(2) {
    @media (min-width: @tablet) {
      margin-right: 36px;
    }
  }
}
