.programm-selection-form {
  display: grid;

  @media (min-width: @desktop) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "name selection"
      "contacts contacts"
      "comment comment"
      "additionally additionally";
    column-gap: 80px;
  }
}

.program-selection-form__list {
  display: flex;
  flex-direction: column;
  gap: 14px;

  &--name {
    border-bottom: 1px solid @grey85;
    @media (min-width: @desktop) {
      grid-area: name;
    }
  }

  &--selection {
    border-bottom: 1px solid @grey85;
    align-items: start;
    @media (min-width: @desktop) {
      grid-area: selection;
    }
  }

  &--contacts {
    @media (min-width: @desktop) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 80px;
    }
  }
}

.program-selection-form__list.program-selection-form__list--name {
  padding: 39px 0 24px;
}

.program-selection-form__list.program-selection-form__list--selection {
  padding: 22px 0 19px;

  input {
    width: auto;
  }
}

.program-selection-form__list.program-selection-form__list--contacts {
  margin-top: 35px;

  .program-selection-form__item {
    gap: 10px
  }
}

.program-selection-form__item {

  .text-input;
  display: flex;
  align-items: center;
  column-gap: 13px;

  input {
    .text-input;
    padding: 10px 20px;
  }

  &--bright {
    color: @dark-grey;
  }
}

.program-selection-form__contact-details {
  padding-top: 26px;
  @media (min-width: @desktop) {
    grid-area: contacts;
  }
}

.program-selection-form__comment {
  padding: 23px 0;
  @media (min-width: @desktop) {
    grid-area: comment;
  }

  textarea {
    width: 100%;

    &::placeholder {
      .text-input;
    }
  }
}

.program-selection-form__additionally {
  @media (min-width: @desktop) {
    grid-area: additionally;
  }
}
