.programm-selection-form {
  display: grid;

  @media (min-width: @desktop) {
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "name selection"
      "contacts contacts"
      "comment comment"
      "additionally additionally";
    column-gap: 80px;
  }
}

.program-selection-form__list {
  &--name {
    @media (min-width: @desktop) {
      grid-area: name;
    }
  }

  &--selection {
    @media (min-width: @desktop) {
      grid-area: selection;
    }
  }

  &--contacts {
    @media (min-width: @desktop) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      column-gap: 80px;
    }
  }
}

.program-selection-form__item {

  .text-input;

  input {
    .text-input;
  }

  &--bright {
    color: @dark-grey;
  }
}

.program-selection-form__contact-details {
  @media (min-width: @desktop) {
    grid-area: contacts;
  }
}

.program-selection-form__comment {
  @media (min-width: @desktop) {
    grid-area: comment;
  }

  textarea {
    width: 100%;

    &::placeholder {
      .text-input;
    }
  }
}

.program-selection-form__additionally {
  @media (min-width: @desktop) {
    grid-area: additionally;
  }
}
