.services__title {
  text-align: center;

  @media (min-width: @tablet) {
    text-align: left;
  }

  &::before {
    content: "";
    position: absolute;
    left: 22px;
  }
}

.services__description {
  margin: 0;
  padding: 29px 0 23px;
  border-bottom: 1px solid #D9D9D9;

  @media (min-width: @tablet) {
    width: 340px;
    border: none;
  }
}

.services__link {
  margin-top: 15px;
  display: block;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 32px;
    height: 10px;
    background-image: url(../../img/arrow-right.svg);
    margin-left: 15px;

    @media (min-width: @tablet) {
      margin-left: 25px;
      top: 9px;
    }
  }
}

