.services__title {
  text-align: center;

  @media (min-width: @tablet) and (max-width: 1439px) {
    text-align: left;
  }
}

.services__description {
  margin: 0;
  padding: 29px 0 23px;
  border-bottom: 1px solid @grey85;

  @media (min-width: @tablet) {
    width: 340px;
    border: none;
    padding: 24px 0 53px;
  }

  @media (min-width: @desktop) {
    padding: 73px 0 23px;
    width: auto;
  }
}

.services__link {
  display: block;
  position: relative;

  @media (max-width: 767px) {
    padding-top: 17px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 24px;
    height: 12px;
    background-color: @black;
    mask-image: url("../../icons/stack.svg#arrow-right");
    margin-left: 15px;

    @media (min-width: @tablet) {
      margin-left: 25px;
      top: 9px;
    }
  }
}

.services__link:hover::after {
  width: 32px;
  mask-image: url("../../icons/stack.svg#arrow-right-hover");
}

.services__link:active {
  opacity: 0.3;
}
