.social__list {
  .list-reset;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 24px;
}

.social__item {
  width: 28px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social__link {
  width: 28px;
  height: 22px;
  display: block;

  &--vkontakte {
    mask-image: url("../icons/stack.svg#vkontakte");
    background-color: @socials-grey;
  }

  &--youtube {
    mask-image: url("../icons/stack.svg#youtube");
    background-color: @socials-grey;
  }

  &--telegram {
    mask-image: url("../icons/stack.svg#telegram");
    background-color: @socials-grey;
  }

  &:hover {
    background-color: @green;
  }

  &:active {
    background-color: @green;
    opacity: 0.3;
  }
}
