.title-secondary {
  font-family: @oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  color: @black;
  margin: 0;

  @media (min-width: @tablet) {
    font-size: 60px;
    line-height: 60px;
  }

  &--light {
    color: @white;
    text-transform: none;

    @media (min-width: @tablet) {
      color: @black;
    }
  }
}
