// Цвета

@green: #68B738;
@green-hover: #5EAA2F;
@base-text-color: #444444;
@black: #000000;
@light-black: #2D3440;
@white: #FFFFFF;
@grey: #F2F2F2;
@dark-grey: #222222;
@black-grey: #111111;
@light-grey: #E6E6E6;
@grey85: #D9D9D9;
@very-light-grey: #EAEAEA;
@special-grey-2: #EBEBEB;
@just-grey: #D3D3D3;
@another-grey: #CDCDCD;
@greyE7: #E7E7E7;
@error: #FF8282;
@socials-grey: #666666;
@control-hover-grey: #BABABA;
@footer-hover-grey: #3E3E3E;
@footer-active-grey: #6B6B6B;

// Шрифт

@oswald: "Oswald", Arial, sans-serif;

// Размер экрана

@tablet: 768px;
@desktop: 1440px;
@only-mobile: 767px;
